// Colors
$secondaryColor: #ffe600;
$secondaryTransparent: hsla(54, 100%, 50%, 0.561);


$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 10%);
$lightblack: hsl(0, 0%, 20%);
$gray : hsl(0, 0%, 96%);

// Media queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1400px;

// Typography
$primaryFont: 'Raleway', sans-serif;
